# Main
Django
Pillow
argparse
six
wsgiref
django-bower
django-braces
django-extensions
django-pipeline
requests
sphinx

# Web Server
gunicorn

# Database
psycopg2 # I heavily prefer postgres

# Testing
django-debug-toolbar
django-casper
locustio # load tester
mock
selenium
coverage
